/* CSS declarations go here */
body {
  font-family: 'Oswald', sans-serif;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

#landingPageContainer{
  background: url('images/airplane_background.jpg') top center no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position-x: inherit;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: auto;
  color: #fff;
  padding: 130px 250px 250px 250px;
}

#landingFormContainer{
  padding: 0 100px 0 100px;
}

#landingPageContainer h1, h2{
  color: orange;
}

#resultTableContainer{
  display: none;
  margin-top: -50px;
  background: rgba(0, 0, 0, 0.4);
}